:root {
    --white: #fafafa;
    --black: #020300;
    --lightblue: #a1d5f7;
    --darkblue: #033F63;
    --salmon: #ff917E;
}

main {
    height: 100%;
    background-color: var(--white);
}

#hero {
  display: flex;  
}

header {
    background-color: var(--white);
}

#logo {
    padding: 10px;
}

#showHistory {
    background-color: var(--darkblue);
    color: var(--white);
    padding: 5px;
    border-radius: 20px;
}

#wrapperDiv{
    max-height: 100vh;
}

#searchContainer {
    /* max-width: 500px; */
    padding: 10px;
    background-color: var(--white);
}

/* this fixes colour leaking from parent container */
#searchSection {
    background-color: var(--white);
}

/* styles the form container */
#formContainer {
    padding-top: 10px;
    border-radius: 10px;
    background-color: var(--white);
    border-style: solid;
    border-color: var(--black);
}

#movieTitle {
    border-style: solid;
    border-width: 1px;
    border-color: var(--black);
}

/* styles the search button */
#searchBtn {
    margin-top: 5px;
    background-color: var(--salmon);
    color: var(--black);
    padding: 5px;
    border-radius: 20px;
}

/* styles the select rating button */
#searchBySection {
    background-color: var(--white);
    border-radius: 20px;
}

/* Styles the default borders and background colour for the confirmation container */
#confirmationContainer {
    background-color: var(--white);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: none;
}

/* styles the background of the search container */
#searchContainer {
    background-color: var(--darkblue);
    border-radius: 20px;
}

/* CSS relating to Hide menu button */
#hideMenu {
    background-color: var(--salmon);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    max-width: 100px;
    max-height: 100px;
}

/* default style for confirmation movie's info */
#searchedInfo {
    background-color: var(--salmon);
    border-radius: 20px;
}

.full-width {
    width: 100% !important;
}

/* CSS relating to landing page */
#landing-image-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: auto;
}

#landing-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center; 
}

/* Sets this sections max height to the viewport */
#resultsSection {
    max-height: 100vh;
    border-radius: 20px;
    background-color: var(--lightblue);
}

#scrollableContainer {
    display: none;
    max-height: 100%;          /* Set the height of the container */
    border: 1px solid var(--darkblue); /* Optional: Add a border for visual clarity */
    border-radius: 20px;
    overflow-y: auto;       /* Add vertical scrolling */
    padding: 10px;
}

/* styles the generate more suggestions button */
#moreSuggestions {
    border-radius: 20px;
    background-color: var(--salmon);
}

#hideMenu:hover {
    transition: all 0.1s ease-in-out;
    background-color: rgb(252, 159, 149);
    box-shadow: salmon 0 0 10px;
}

#searchBtn:hover {
    font-size: 20px;
    transition: all 0.1s ease-in-out;
    background-color: rgb(252, 159, 149);
    box-shadow: salmon 0 0 10px;
}

/* Modal CSS */
#historyModal h2{
    color: var(--black);
    font-size: 24px;
}

#historyModal ul{
    margin-left: 10px;
}

#closeModal {
    background-color: var(--salmon);
    padding: 5px;
    border-radius: 20px; 
}

/* Basic Styling for noMovies Popup */
#noMovies {
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Styles noMives Content */
#noMovies-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 8px;
    border: 1px solid #888;
    width: 70%;
}

/* Styles noMovies Close Button */
#close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Adds hover effects to various elements */
#close-button:hover, .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ensures that the page is properly displayed on smaller screens */

@media screen and (max-width: 1375px) {
    #hideMenu {
       width: 60px;
       height: 60px;
       position: absolute;
       left: 1px;
       top: 1px;
    }
    #generatedMovieTitle {
        max-width: 600px;
        justify-self: center;
    }
}
    


@media screen and (max-width: 1024px) {
    #wrapperDiv {
        width: 100%;
        max-height: none;
    }
    #confirmationContainer{
        display: none;
    }
    #resultsSection {
        width: 100%;
        max-height: none;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    #app-title {
        font-size: 36px;
        line-height: 40px;
    }
    #searchContainer {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #generatedMovieTitle {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    main {
        max-width: 100%;
    }
    #wrapperDiv {
        max-width: 100%;
        max-height: none;
    }
    #searchContainer {
        padding: 4px;
    }
    #resultsSection {
        max-width: 100%;
        padding-left: 0;
        padding-right: 2px;
        max-height: none;
    }
    #landing-page {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    #landing-image-container.img {
        max-width: 100%;
    }
    #hideMenu {
        position: absolute;
        top: 60px;
        left: 4px;
        font-size: 12px;
        height: 40px;
        width: 60px;
        padding: 2px;
    }
    .recommendedMovie {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }   
    .recommendedDescription {
        display: none;
    }
}