:root {
    --white: #fafafa;
    --black: #020300;
    --lightblue: #5f9abb;
    --darkblue: #033F63;
    --salmon: #ff917E;
}

main {
    height: 100%;
}

#hero {
    
}

header {
    background-color: var(--white);
}

#logo {
    padding: 10px;
}

#searchContainer {
    /* max-width: 500px; */
    padding: 10px;
}


#search-form {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgb(145, 192, 147);
    border-style: solid;
    border-color: var(--black);
}

#searchBtn {
    margin-top: 5px;
    background-color: rgb(92, 92, 92);
    padding: 5px;
    border-radius: 20px;
}

#searchBySection {
    background-color: rgb(164, 201, 202);
}

#confirmationContainer {
    background-color: rgb(189, 107, 107);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* CSS relating to Hide menu */
#hideMenu {
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
}

#searchContainer {
    background-color: rgb(201, 201, 201);
    border-radius: 20px;

}

#resultsSection {
    border-radius: 20px;
}

.full-width {
    width: 100% !important;
}

/* CSS relating to landing page */
#landing-image-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: auto;
}

#landing-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center; 
}

#scrollableContainer {
    height: 90%;          /* Set the height of the container */
    border: 1px solid var(--lightblue); /* Optional: Add a border for visual clarity */
    border-radius: 20px;
    overflow-y: auto;       /* Add vertical scrolling */
    padding: 10px;
}

/* ensures that the page is properly displayed on smaller screens */
@media screen and (max-width: 1024px) {
    #wrapperDiv {
        width: 100%;
    }

    #resultsSection {
        width: 100%;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    #app-title {
        font-size: 36px;
        line-height: 40px;
    }
    #searchContainer {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #hideMenu {
        transform: rotate(90deg);
    }
}