:root {
    --white: #fafafa;
    --black: #020300;
    --lightblue: #5f9abb;
    --darkblue: #033F63;
    --salmon: #ff917E;
}

main {
    height: 100%;
}

#hero {
    
}

header {
    background-color: var(--white);
}

#logo {
    padding: 10px;
}

#wrapperDiv{
    min-height: 100vh;
}

#searchContainer {
    /* max-width: 500px; */
    padding: 10px;
}

/* styles the form container */
#formContainer {
    border-radius: 20px;
    background-color: rgb(145, 192, 147);
    border-style: solid;
    border-color: var(--black);
}

/* styles the search button */
#searchBtn {
    margin-top: 5px;
    background-color: #5f9abb;
    padding: 5px;
    border-radius: 20px;
}

/* styles the select rating button */
#searchBySection {
    background-color: var(--salmon);
    border-radius: 20px;
}

/* Styles the default borders and background colour for the confirmation container */
#confirmationContainer {
    background-color: rgb(189, 107, 107);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* styles the background of the search container */
#searchContainer {
    background-color: var(--darkblue);
    border-radius: 20px;
}

/* CSS relating to Hide menu button */
#hideMenu {
    background-color: var(--salmon);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    max-width: 100px;
    max-height: 100px;
}

/* default style for confirmation movie's info */
#searchedInfo {
    background-color: var(--salmon);
    border-radius: 20px;
}

.full-width {
    width: 100% !important;
}

/* CSS relating to landing page */
#landing-image-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: auto;
}

#landing-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center; 
}

/* Sets this sections max height to the viewport */
#resultsSection {
    max-height: 100vh;
    border-radius: 20px;
}

#scrollableContainer {
    display: none;
    max-height: 100%;          /* Set the height of the container */
    border: 1px solid var(--lightblue); /* Optional: Add a border for visual clarity */
    border-radius: 20px;
    overflow-y: auto;       /* Add vertical scrolling */
    padding: 10px;
}

/* styles the generate more suggestions button */
#moreSuggestions {
    border-radius: 20px;
    background-color: var(--salmon);
}

#hideMenu:hover {
    transition: all 0.1s ease-in-out;
    background-color: rgb(252, 159, 149);
    box-shadow: salmon 0 0 10px;
}

#searchBtn:hover {
    font-size: 20px;
    transition: all 0.1s ease-in-out;
    background-color: lightblue;
    box-shadow: #5f9abb 0 0 10px;
}


/* ensures that the page is properly displayed on smaller screens */

@media screen and (max-width: 1375px) {
    #hideMenu {
       width: 60px;
       height: 60px;
       position: absolute;
       left: 1px;
       top: 1px;
    }
    #generatedMovieTitle {
        max-width: 600px;
    }
}
    


@media screen and (max-width: 1024px) {
    #wrapperDiv {
        width: 100%;
    }

    #resultsSection {
        width: 100%;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    #app-title {
        font-size: 36px;
        line-height: 40px;
    }
    #searchContainer {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #generatedMovieTitle {
        font-size: 36px;
    }
}